@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1d1c1c;
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-slide > div:nth-child(1) {
  margin-left: 0;
}

.slick-list {
  margin-right: -10px;
}

/* Targeting the left arrow in the custom-slider instance */
.custom-slider .slick-prev {
  color: #1d1c1c;
  /* fill: #1d1c1c; */

  margin-left: 10px; /* Adjust the negative margin as needed */
}
.custom-slider .slick-prev:hover {
  color: #1d1c1c;
  /* fill: #1d1c1c; */

}

/* Targeting the right arrow in the custom-slider instance */
.custom-slider .slick-next {
  /* background-color: #1d1c1c */
  color: #1d1c1c;
  margin-right: 10px; /* Adjust the negative margin as needed */
}
.custom-slider .slick-next:hover{
  /* background-color: #1d1c1c */
  color: #1d1c1c;
}
